body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
}

.flags-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.flag {
    width: 100%;
}

.brochure {
    width: 100vw;
}